body {
  background-color: darkslateblue;
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

#mainPlayArea {
  background-color: black;
  background-image: url(img/space.png);
  height: 600px;
  width: 600px;
  border-radius: 20px;
}

.gameInstruction {
  position: relative;
  left: 7rem;
  top: 0px;
  color: white;
}

/*  Experience counter 
.pointsStatus {
  position: fixed;
  text-align: center;
  top: 40px;
  left: 15rem;
  cursor: pointer;
  color: cornflowerblue;
  background-color: white;
  border-radius: 5px;
  width: fit-content;
  height: 20px;
  padding-inline: 20px;
} */

.startButton {
  position: relative;
  top: 9rem;
  left: 15rem;
  cursor: pointer;
  color: white;
  background-color: darkslateblue;
  border-radius: 10px;
  width: fit-content;
  padding: 3px;
}

.playerShooter {
  position: relative;
  top: 250px;
  height: 60px;
  width: 70px;
  left: 20px;
}

.laser {
  position: relative;
  width: 40px;
  height: 30px;
}

.alien {
  position: relative;
  height: 60px;
  width: 70px;
}

.alienTransition {
  opacity: 1;
  transition: opacity 1.5s ease-in-out;
}

.deadAlien {
  position: relative;
  width: 70px;
  height: 60px;
  opacity: 0;
}
